.container{
   
    font-family: cursive;
    text-align: center;  
}
/* h1.hidden {
    display: none;
} */
.btn{
   
    width: 200px;
    background: green;
    padding: 10px;
    font-size: 50px;
    
   
}
.scoretext, .incorrecttext {
    font-size: 50px;
    color : green;
    margin-left: 20px;
}
h1{
    font-size: 100px;
    color: green;
    text-align: center;
   
}


body{
    background: linear-gradient(135deg, orange, orange 60%, cyan);
}

.start{
    text-align: center;
    padding-top: 200px;
}
#submit{
    text-align: center;
    padding: 0px;
    
    
}
